<div class="row">
  <div class="columns">
    <p>Email: <%= @user.email %></p>
    <p>Display name:<%= @user.display_name %></p>
    <p>Username: <%= @user.username %></p>
    <p>User id: <%= @user.id %></p>
  </div>
</div>
