<div class="panel">
  <ul>
    <li><%= link_to "Account", settings_account_url %></li>
    <li><%= link_to "Password", settings_password_url %></li>
    <li><%= link_to "Notifications", settings_notifications_url %></li>
    <li><%= link_to "Profile", settings_profile_url %></li>
  </ul>
</div>
