<div class="row">
  <div class="large-6 columns">
    Home page with a link to the <%= link_to "FAQ", faq_url %>.  And here we have more text.  And more.  And more.
    This could go on forever.  But we won't let that happen.  Let's keep it going a little bit though.  Okay done.
  </div>
  <div class="large-6 columns">
    <p><%= link_to "Login with Email", login_url %></p>
    <p><%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook)%></p>
    <p><%= link_to "Login with Google+", user_omniauth_authorize_path(:google_oauth2)%></p>
  </div>
</div>
  
