/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.social-icons{padding:0 1%;}
.social-icons i {font-size:18px;}
.facebook,  .google {font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;;
  width: 100%; height:35px; padding-top:3%; margin-bottom: 8px;}
.modal-icons{margin-left: -10px; margin-right: 10px;}
.facebook{background-color: #3b5999; color:#fff;}
.facebook:hover{background-color: scale-color(#3b5999, $lightness: 15%); color:#fff;}
.google{background-color:#dd4b39;color:#fff;}
.google:hover{background-color: scale-color(#dd4b39, $lightness: 15%);color:#fff;}
